<!DOCTYPE html>
<html>
    <head title="NASAPI Explorer">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
        <body>
            <div id="container">
                <div id="left">
                    <h1 id="title">NASAPI Explorer</h1>
                    <p id="byline">Out of this world!</p>
                    <button id="asteroids">Show asteroids closest to Earth</button>
                    <button id="button2">Test</button>
                </div>
                <div id="right">
                    <h1>NASA's Astronomy Picture of the Day</h1>
                    <p id="dispText"></p>
                    <img id="dispImage" src="<%=imgSrc%>" title="<%=text%>"> </img>
                </div>
            </div>
            <script src="client.js"></script>
        </body>
</html>