html, body {
  height: 100%;
  background-image: url("../jeremy-thomas-E0AHdsENmDg-unsplash.jpg");
  background-color: #27253c;
  background-size: contain;
}

* {
  font-family: Avenir-Book, Roboto, sans-serif;
}

#container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

#title {
  margin-block-end: 0.3em;
}

#byline {
  margin-block-start: 0px;
  margin-block-end: 2em;
  font-style: italic;
}

#container > div {
  /* background: #101357; */
  background: #FBFBF2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  box-shadow: 5px -5px 30px 0px #27253c;
}

#left {
  border-radius: 2%;
  color: #27253c;
  width: 40%;
  height: 80%;
}

#right {
  /* align-self: center; */
  border-radius: 2%;
  color: #27253c;
  width: 40%;
  height: 80%;
  justify-items: flex-start;
  background-size: contain;
}

#dispTitle {
  max-height: 15%;
}

#dispText {
  max-height: 15%;
}

#dispContent {
  max-height: 70%;
  max-width: auto;
}

#dispImage {
  max-height: 100%;
  max-width: auto;
}
form > * {
  /* padding: 10px; */
  margin-right: 5px;
  margin-left: 5px;
}

button {
  /* background: #fbaf08; */
  border-radius: 7px;
  border: none;
  color: white;
  /* background-image: linear-gradient(to bottom, #eb94d0, #2079b0); */
  background-color: #000F3A;
  /* text-shadow: 3px 2px 1px #9daef5; */
  font-size: 1.5em;
  padding: 10px;
  margin-bottom: 10px;
}

button:hover {
  /* background-image: linear-gradient(to bottom, #2079b0, #eb94d0); */
  text-decoration: none;
  background-color: #0E4E65;
  /* background-color: #776092 */
}